<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/citas/public/css/style.css" />
    <title>Confirmación</title>
  </head>

  <body>
    <main>
      <div class="logo-header">
        <a href="https://innate.mx/" target="_blank">
          <img id="logo" src="/citas/public/img/logo.png" alt="" />
        </a>
      </div>
      <h1>Agenda tu cita</h1>
      <div class="container">
        <div class="header">
          <div class="number">
            <p>3</p>
          </div>
          <p>Confirmación</p>
        </div>
        <div class="info-confirmacion">
          <h4>¡Tu cita ha sido confirmada!</h4>
          <p id="info">Toda la información ha sido enviada a tu correo.</p>
        </div>
        <div class="info_cita">
          <p>Sucursal</p>
          <h3>DEL VALLE</h3>

          <p>Fecha</p>
          <h3>01/03/2022</h3>

          <p>Horario</p>
          <h3>10:00 AM</h3>
        </div>
        <div class="formulario">
          <p>
            Tu perfil ya ha sido creado, no te pierdas de ningún detalle de tu
            progreso con nosotros.
          </p>
        </div>
        <button id="formulario_btn">IR A PERFIL</button>
      </div>
    </main>
    <img id="right-img" src="/citas/public/img/side-img.png" alt="" />
    <footer>
      <div>
        <img src="/citas/public/img/logo-l-footer1.png" alt="" />
        <img src="/citas/public/img/logo-l-footer2.png" alt="" />
      </div>
      <div>
        <p>INNATE &reg 2022 &middot Aviso de Privacidad</p>
      </div>
      <div class="social-media">
        <a href="https://innate.mx/" target="_blank">
          <img src="/citas/public/img/INNATE-fb.png" alt="" />
        </a>
        <a href="https://innate.mx/" target="_blank">
          <img src="/citas/public/img/INNATE-ig.png" alt="" />
        </a>
        <a href="https://innate.mx/" target="_blank">
          <img src="/citas/public/img/INNATE-tk.png" alt="" />
        </a>
        <a href="https://innate.mx/" target="_blank">
          <img src="/citas/public/img/INNATE-yt.png" alt="" />
        </a>
      </div>
    </footer>
  </body>
</html>
