<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/citas/public/css/style.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/citas/public/css/custom-select.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/citas/public/css/datepicker.css"
    />
    <title>Agendar cita</title>
  </head>

  <body>
    <main>
      <!--<h1><%= titulo %></h1>-->
      <div id="preloader_container" class="modal">
        <img id="_1" src="/citas/public/img/SVG/Recurso 1.svg" />
        <img id="_2" src="/citas/public/img/SVG/Recurso 3.svg" />
        <img id="_3" src="/citas/public/img/SVG/Recurso 1.svg" />
        <img id="_4" src="/citas/public/img/SVG/Recurso 3.svg" />
        <img id="_5" src="/citas/public/img/SVG/Recurso 1.svg" />
        <img id="_6" src="/citas/public/img/SVG/Recurso 3.svg" />
        <img id="_7" src="/citas/public/img/SVG/Recurso 1.svg" />
      </div>
      <div class="logo-header">
        <a href="https://innate.mx/" target="_blank">
          <img id="logo" src="/citas/public/img/logo.png" alt="" />
        </a>
      </div>
      <h1>Agenda tu cita</h1>
      <div id="container" class="container">
        <div class="header">
          <div class="number">
            <p>1</p>
          </div>
          <p>Selecciona sucursal y fecha de tu cita</p>
        </div>
        <div class="inputs">
          <div class="custom-select" style="width: 100%">
            <select name="sucursal" id="sucursal">
              <option value="">Sucursal</option>
              <option value="">Del Valle</option>
              <option value="">Roma</option>
              <option value="">Santa Fe</option>
              <option value="">Polanco</option>
              <option value="">Pedregal</option>
              <option value="">Metepec</option>
              <option value="">Cuernavaca</option>
              <option value="">Monterrey</option>
              <option value="">Guadalajara</option>
              <option value="">Puebla</option>
              <option value="">Querétaro</option>
            </select>
          </div>
          <input
            type="text"
            name="foo"
            id="fecha"
            placeholder="DD / MM/ AAA"
            readonly
          />
        </div>
        <!-- <p id="horariosP">Horarios</p> -->
        <div id="horarios" class="horarios">
          <h1 id="title-hora">Horarios disponibles</h1>
        </div>
        <!-- <button id="agendar_btn">AGENDAR</button> -->
      </div>
    </main>
    <img id="right-img" src="/citas/public/img/side-img.png" alt="" />
    <footer>
      <div>
        <img src="/citas/public/img/logo-l-footer1.png" alt="" />
        <img src="/citas/public/img/logo-l-footer2.png" alt="" />
      </div>
      <div>
        <p>INNATE &reg 2022 &middot Aviso de Privacidad</p>
      </div>
      <div class="social-media">
        <a href="https://innate.mx/" target="_blank">
          <img src="/citas/public/img/INNATE-fb.png" alt="" />
        </a>
        <a href="https://innate.mx/" target="_blank">
          <img src="/citas/public/img/INNATE-ig.png" alt="" />
        </a>
        <a href="https://innate.mx/" target="_blank">
          <img src="/citas/public/img/INNATE-tk.png" alt="" />
        </a>
        <a href="https://innate.mx/" target="_blank">
          <img src="/citas/public/img/INNATE-yt.png" alt="" />
        </a>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/js/datepicker.min.js"></script>
    <script src="/citas/public/js/custom-select.js"></script>
    <script src="/citas/public/js/index.js"></script>
  </body>
</html>
